@import "../utils/gen-index.css";
@import "../components/status-bar.css";
@import "../components/bottom-menu.css";
@import "../components/search-input.css";
@import "../components/search-movie.css";

body {
  position: relative;
}

.search-title {
  font-weight: 700;
  font-size: 27px;
  margin: 21px auto;
  width: 90%;
}
