.home-movie {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-movie::-webkit-scrollbar {
  display: none;
}

.home-movie__img {
  width: 100%;
  height: 161px;
  margin-right: 7px;
}

.home-movie__img--big {
  width: 154.4px;
  height: 251px;
  margin-right: 7px;
}

.home-movie__img--circle {
  border-radius: 50%;
  width: 102px;
  height: 102px;
}
