.home-movie {
  display: flex;
  overflow: auto;
}

.home-movie__img {
  width: 103px;
  height: 161px;
  margin-right: 7px;
}

.home-movie__img--big {
  width: 154.4px;
  height: 251px;
  margin-right: 7px;
}

.home-movie__img--circle {
  border-radius: 50%;
  width: 102px;
  height: 102px;
}
