@import "../components/logo.css";

.login-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

.login-navbar__edit {
  position: absolute;
  right: 4vh;
}
