.profile {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.profile__div {
  text-align: center;
}

.profile__img {
  width: 65px;
  height: 60px;
  transition: transform ease-in-out 180ms;
}

.profile__img:hover {
  transform: scale(1.12);
}

.profile__img--grid {
  width: 100px;
  height: 92px;
}

.profile__txt {
  font-size: 12px;
  margin-top: 5px;
}

.profile__txt--grid {
  font-size: 13.5px;
  margin-top: 5px;
}

.profile--grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px;
  grid-gap: 25px;
}
