.search-input {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 18px 0;
}

.search-input__bg {
  background-color: #424242;
  height: 52px;
  width: 100%;
}

.search-input__img {
  width: 15px;
}

.search-input__input {
  border: none;
  background: none;
  width: 255px;
  outline: none;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 34px;
}

.search-input__input::placeholder {
  color: #c4c4c4;
}
